@font-face {
    font-family:Vazir;
    src: url(./fonts/Vazir-Bold.ttf) format('truetype');
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Vazir', Arial, sans-serif;
    background-image: url(./Images/bg.png);
    background-color: #ffffff;
    background-size: 350px;
    background-position: center;
}   
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.logo img{
height: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
nav button{
    font-family: 'Vazir', Arial, sans-serif;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #ffff;
    background-color: #2f2e41;
    font-size: 0.8rem;
    font-weight: 900;
    box-shadow: 2px 2px 15px rgba(0, 0,0 ,0.5);
    cursor: pointer ;
}
nav button a{
    color: #ffffff;
}
.page-not-found img{
    height: 400px;
}
.page-not-found{
    position:absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-not-found h1{
    color: #3b3a39;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 25px 0px 0px 0px;
    text-align: center;
}
.page-not-found p{
    color: #808080;
    font-size: 1rem;
    width: 91%;
    text-align: center;
    margin: 5px;
    font-weight: 300;
}
.page-not-found button{
    font-family: 'Vazir', Arial, sans-serif;
    width: 140px;
    height: 40px;
    margin: 10px;
    background-color:#2f2e41;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    border: none;
    box-shadow: 2px 2px 30px rgba(0, 0,0 ,0.5);
    cursor: pointer;
}
button:hover{
    background-color: #637eff;
    transition: all ease 0.2s;
}
@media (max-width:900px) {
    .page-not-found img{
        height: 300px;
    }
    .page-not-found p{
        width: 100%;
    }
}
@media (max-width:600px) {
    nav{
        padding: 10px;
    }
        .page-not-found{
            width: 100%;
        }
        .page-not-found img{
            height: 250px;
        }
        .page-not-found h1{
            font-size: 1.4rem;
        }
        .page-not-found p{
            width: 90%;
        }
    }










